#roster {
  background-color: var(--color-gradient2);
  background-image: linear-gradient(110deg, #0e101c 0%, var(--color-blue) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 0 0;
  text-align: center;
}

.fc-timeline-header-row fc-timeline-header-row-chrono {
  display: none !important;
}
.fc-content span.fc-time .fc-timeline-slot-frame {
  display: inline-block !important;
}

.roster {
  text-align: center;
  justify-content: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  padding-bottom: 50px;
}
.sup-emp {
  flex-basis: 12%;
}

.scheduler {
  padding-top: 20px;
  flex-basis: 98%;
  margin: auto;
  padding-left: 10px;
}
.scheduler__button {
  margin-top: 10px;
  padding-bottom: 30px;
}

.scheduler__button > button {
  margin-right: 10px;
  margin-left: 10px;
}
